div{
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    background-color: darkviolet;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
}
.home-link{
    font-weight: bold;
}
.text-box{
    border:none;
    width: 500px;
    margin-top: 12px;
    margin-bottom: 12px;
    height: 30px;
    border-radius: 15px;
    padding-left: 20px;
}
button{
    border-style: solid;
    background-color: darkviolet;
    color: white;
    border-color: white;
    border-radius: 1px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 15px;
    padding-right: 15px;

}