    p{
    font-style: Arial;
    margin-top: 0px;
    margin-bottom: 0px;
}
.promt{
    width: 360px;
    padding-left: 16px;
    background-color: rgb(36, 35, 35);
    display: inline-block;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;    
}
.reminder{
    font-size: 32px ;
    font-weight: bold;
    color: white;
    margin-bottom: 10px;
}
.description{
    color: rgb(136, 134, 134);
    
}